<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mh.hisplat.dao.DataDicMapper" >
  <resultMap id="BaseResultMap" type="com.mh.hisplat.bean.DataDic" >
    <id column="d_id" property="dId" jdbcType="INTEGER" />
    <result column="d_name" property="dName" jdbcType="VARCHAR" />
    <result column="d_value" property="dValue" jdbcType="VARCHAR" />
    <result column="d_colum" property="dColum" jdbcType="VARCHAR" />
    <result column="dis" property="dis" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    d_id, d_name, d_value, d_colum, dis
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from data_dic
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from data_dic
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mh.hisplat.bean.DataDic" >
    insert into data_dic (d_id, d_name, d_value, 
      d_colum, dis)
    values (#{dId,jdbcType=INTEGER}, #{dName,jdbcType=VARCHAR}, #{dValue,jdbcType=VARCHAR}, 
      #{dColum,jdbcType=VARCHAR}, #{dis,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mh.hisplat.bean.DataDic" >
    insert into data_dic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        d_id,
      </if>
      <if test="dName != null" >
        d_name,
      </if>
      <if test="dValue != null" >
        d_value,
      </if>
      <if test="dColum != null" >
        d_colum,
      </if>
      <if test="dis != null" >
        dis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="dName != null" >
        #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dValue != null" >
        #{dValue,jdbcType=VARCHAR},
      </if>
      <if test="dColum != null" >
        #{dColum,jdbcType=VARCHAR},
      </if>
      <if test="dis != null" >
        #{dis,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mh.hisplat.bean.DataDic" >
    update data_dic
    <set >
      <if test="dName != null" >
        d_name = #{dName,jdbcType=VARCHAR},
      </if>
      <if test="dValue != null" >
        d_value = #{dValue,jdbcType=VARCHAR},
      </if>
      <if test="dColum != null" >
        d_colum = #{dColum,jdbcType=VARCHAR},
      </if>
      <if test="dis != null" >
        dis = #{dis,jdbcType=VARCHAR},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mh.hisplat.bean.DataDic" >
    update data_dic
    set d_name = #{dName,jdbcType=VARCHAR},
      d_value = #{dValue,jdbcType=VARCHAR},
      d_colum = #{dColum,jdbcType=VARCHAR},
      dis = #{dis,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
</mapper>