<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mh.hisplat.dao.LevelMapper" >
  <resultMap id="BaseResultMap" type="com.mh.hisplat.bean.Level" >
    <id column="l_id" property="lId" jdbcType="INTEGER" />
    <result column="l_name" property="lName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    l_id, l_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from level
    where l_id = #{lId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from level
    where l_id = #{lId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mh.hisplat.bean.Level" >
    insert into level (l_id, l_name)
    values (#{lId,jdbcType=INTEGER}, #{lName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mh.hisplat.bean.Level" >
    insert into level
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="lId != null" >
        l_id,
      </if>
      <if test="lName != null" >
        l_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="lId != null" >
        #{lId,jdbcType=INTEGER},
      </if>
      <if test="lName != null" >
        #{lName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mh.hisplat.bean.Level" >
    update level
    <set >
      <if test="lName != null" >
        l_name = #{lName,jdbcType=VARCHAR},
      </if>
    </set>
    where l_id = #{lId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mh.hisplat.bean.Level" >
    update level
    set l_name = #{lName,jdbcType=VARCHAR}
    where l_id = #{lId,jdbcType=INTEGER}
  </update>
</mapper>