<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mh.hisplat.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.mh.hisplat.bean.Role" >
    <id column="r_id" property="rId" jdbcType="INTEGER" />
    <result column="r_name" property="rName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    r_id, r_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role
    where r_id = #{rId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role
    where r_id = #{rId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mh.hisplat.bean.Role" >
    insert into role (r_id, r_name)
    values (#{rId,jdbcType=INTEGER}, #{rName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mh.hisplat.bean.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        r_id,
      </if>
      <if test="rName != null" >
        r_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rId != null" >
        #{rId,jdbcType=INTEGER},
      </if>
      <if test="rName != null" >
        #{rName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mh.hisplat.bean.Role" >
    update role
    <set >
      <if test="rName != null" >
        r_name = #{rName,jdbcType=VARCHAR},
      </if>
    </set>
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mh.hisplat.bean.Role" >
    update role
    set r_name = #{rName,jdbcType=VARCHAR}
    where r_id = #{rId,jdbcType=INTEGER}
  </update>
</mapper>